@charset "UTF-8";
/*
CSS RESET BY MYE WEB 
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	/* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */


/*  */
/* Start of Regular */
/*  */
body {
  background-color: black;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 3vh 10vw;
  background-color: black;
  /* background-color: #34A5DA; */
}


.App-header {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  font-size: 1.83em;
  color: white;
  z-index: 299;
}

.App-link {
  color: #61dafb;
}


.Header{
  display: flex;
  justify-content: flex-start;
  background-color: #34A5DA;
  padding: 1.2em 3em 1.4em 3em;
}
.Header:hover{
  cursor: auto;
}


.Button{
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 7.4vw;
  top: -9vh;
  color: white;
  z-index: 2;
}
#CButtons{
  display: flex;
  flex-direction: row;
}
.CenterButton{
  display: flex;
  background: #34A5DA;
  border: none;
  z-index: 3;
  display: flex;
  width: auto;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  padding: 10px 20px 9px 20px;
  margin: 0 15px;
  font-weight: 600;
  font-size: 1.2em;
}
.CenterButton:disabled{
  background-color: transparent;
  color: transparent;
}
.PrevNext{
  padding: 2px 0 0 0;
  font-weight: 700;
  font-size: 1.3em;
  background-color: transparent;
  border: none;
  color: white;
}
.PrevNext:hover{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #34a5dab6;
  text-underline-offset: 4px;
}
.PrevNext:disabled{
  color: #222222;
  text-decoration: none;
  cursor: auto;
}






.ContentBox{
  display: flex;
  background: white;
  color: Black;
  width: 82%;
  height: 50vh;
  padding: 1em 0 0 2em;
  z-index: 1;
}
.box{
  width: 100%;
  /* border: 2px solid red; */
  overflow: auto;
}
.ContentBox > * {
  padding: 0 0 0 .7em;
}
#pageNumber{
  position: absolute;
  display: flex;
  top: 8.5em;
  /* left: 60.2vw; */
  right: 16vw;
  font-weight: 800;
}
#name{
  display: flex;
  overflow-wrap: normal;
  /* padding: 1em 0 0 2em; */
  font-size: 1.3em;
  font-weight: 800;
  text-decoration: underline; 
  text-decoration-color: #34a5dab6;
  text-underline-offset: 8px;
  width: auto;
  height: 1.2em;
  /* border-bottom: 3px solid #34A5DA; */
}

.Information{
  display: flex;
  flex-direction: column;
  padding: 1.3em 0 1.6em 0;
  line-height: 1.6em;
  font-size: .9em;
}
.InformationDetails{
  display: flex;
  flex-direction: row;
  font-weight: 600;
}
.detailTitle{
  font-weight: 800;
  padding: 0 .3em 0 0;
  white-space: nowrap;
  /* font-weight: 700; */
}

ol{
  display: flex;
  flex-direction: column;
  position: relative;
  left: -4.9em;
  padding: 1.4em 0 0 0;
  white-space: nowrap;
}
#list{
  font-size: .9em;
  /* display: flex; */
  text-align: start;
  padding: 0 0 0 .8em;
  font-weight: 600;
  /* border: 2px solid red; */
  /* width: 60vw; */
  position: relative;
  /* left: 14vw; */
  
} 